.user_action_wrapper {
  width: 400px;
  background-color: $grayMidLighter;
  @include border-radius(6);
  margin: 20px auto 0;
  padding: 10px 20px;
  }

.user_action_wrapper h2 {
  background-color: $grayLight;
  width: 400px;
  padding: 0 20px;
  margin: -10px 0 10px -20px;
  @include rounded-top(6);
  }
